/* Error: There is no module with the namespace "v".
 *    ,
 * 17 |             color: v.$first-color;
 *    |                    ^^^^^^^^^^^^^^
 *    '
 *   scss/layout/_contact-us.scss 17:20  @use
 *   scss/styles.scss 25:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "v".\a    \2577 \a 17 \2502              color: v.$first-color;\a    \2502                     ^^^^^^^^^^^^^^\a    \2575 \a   scss/layout/_contact-us.scss 17:20  @use\a   scss/styles.scss 25:1               root stylesheet';
}
